doctype html
html
  head
    title Failed Login 
    link(rel="stylesheet" href="/jsonconvert.css")
    link(rel='icon', href='/logo.png', type='image/icon type')
    script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-163708086-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'UA-163708086-1');
    script.
        setTimeout(() => {window.open('/login','_self')}, 7000);
  body
    #imgcon
      a(href="/")
        img(src='/logo.png' alt='GameRewards.tech')
    h1.mainmsg=msg