* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background: linear-gradient(-90deg, rgb(78, 108, 173), rgb(190, 56, 202));
}

#maincon {
    width: 60%;
    min-height: 500px;
    border: 2px black solid;
    border-radius: 20px;
    background: rgb(216, 216, 216);
    margin: 30px auto;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    opacity: .9;
    min-width: 400px;
    overflow: hidden;
}

.place {
    display: inline-block;
    margin: auto;
}
.cla{
    margin-right: 15px;
}
.med{
    margin-bottom: 10px;
}

.inpbox {
    margin: 40px 0;
}

.prihea {
    font-size: 2.5rem;
    display: inline-block;
    border-bottom: 3px solid purple;
}

#paylink {
    font-size: 1.3rem;
    color: red;
    text-decoration: none;
    font-weight: bolder;
}

#paylink:hover {
    text-decoration: underline;
}

#i0011 {
    margin: 10px 10px 10px 0;
}

.text {
    font-size: 1rem;
    border: none;
    border-bottom: 3px solid black;
    outline: none;
    font-size: 1.5rem;
    background: none;
    color: purple;
    font-weight: bold;
}

.text:focus {
    border-bottom: 3px red solid;
    width: 80%;
}

.btn {
    padding: 10px 20px;
    border-radius: 15px;
    background: purple;
    color: white;
    font-size: 1.3rem;
    outline: none;
    border: 2px solid black;
    margin: 10px 20px 0 0;
    width: 111px;
}
.btn1 {
    padding: 10px 20px;
    border-radius: 15px;
    background: purple;
    color: white;
    font-size: 1.3rem;
    outline: none;
    border: 2px solid black;
    margin: 10px 20px 0 0;
    width: auto;
}

.btn:hover {
    border: 4px purple solid;
    transform: scale(1.2);
    color: white;
    background: black;
}
.btn1:hover {
    border: 4px purple solid;
    color: white;
    background: black;
}

#ss {
    font-size: 1.2rem;
    border: 3px solid black;
    border-radius: 10px;
    background: brown;
    color: whitesmoke;
    margin-top: 10px;
}

.description {
    font-size: 1.1rem;
    margin-top: 2px;
}

.vid {
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: blueviolet 2px 2px 8px;
    margin-top: 10px;
}

.ico {
    padding: 5px;
    text-align: center;
    border-bottom: 3px solid black;
}
a{
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}
a:hover{
    text-decoration: underline;
}
#imgcon{
    text-align: center;
}
#imgcon img{
    width: 80px;
    margin-top: 20px;
    border: 2px red solid;
    border-radius: 50px;
    box-shadow: 4px 4px red;
}
footer{    
    color: white;
    font-size: 1rem;
    background-color: black;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
@media only screen and (max-width:650px) {
    #maincon {
        width: 90%;
        margin: 20px auto;
        padding: 15px;
        min-width: 0;
    }
    #ss {
        width: 90%;
        font-size: 1rem;
    }
    .vid{
        width: 90%;
        max-width: 320px;
    }
    .text{
        font-size: 1.3rem;
        padding-bottom: 1px;
        width: 80%;
    }
    .btn{
        transform: scale(0.85);
        margin: 0;
    }
    .btn:hover{
        transform: scale(1);
    }
    .med{
        font-size: 1rem;
    }
    .cla{
        margin-right: 6px;
    }
}