/* Home Section work */

.container{
    padding: 3px;
    margin: 20px 20px;
}
.ospara{
    padding: 3px;
    margin: 10px;
}

ol li{
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 4.5vw;
}
.container p,.ospara{
    font-size: 1rem;
    padding: 10px 20px;
}
.intro{
    width: 85%;
    margin: auto;
}