body{
    background-image: linear-gradient(to right, #544a7d, #ffd452);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.hide{
    display: none;
}
#imgcon{
    text-align: center;
}
#imgcon img{
    width:100px;
    margin-top: 20px;
    border: 2px red solid;
    border-radius: 500px;
    box-shadow: 4px 4px red;
}
#maincon{
    width: 80%;
    min-width: 350px;
    min-height: 100px;
    background: black;
    border: 2px solid red;
    border-radius: 5px 15px;
    margin: 25px auto;
    padding: 0 20px 20px 20px;
}
h1{
    width: fit-content;
    padding: 5px 25px;
    margin: 20px auto;
    border-bottom: violet 2px double;
}
h2{
    margin: 5px;
}
li{
    margin: 10px 10px;
}
.inpmail{
    padding: 3px 6px;
    font-size: 1.1rem;
    font-family: inherit;
    margin: 10px;
    width: 40%;
    min-width: 300px;
    border-radius: 5px;
    outline: none;
    border: none;
}
.mailbtns{
    margin: 20px;
    padding: 4px 8px;
    font-size: 1.33rem;
    font-family: inherit;
}
#showdata{
    overflow: auto;
    border-radius: 10px;
    border: white 2px solid;
}
#mailresult{
    overflow: auto;
    border-radius: 10px;
    border: white 2px solid;
    padding: 5px;
}
td{
    padding: 10px;
}

th, td{
    font:15px 'Segoe UI';
    color: white;
}
table, th, td {
    border: solid 1px black;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
    color: white;
}
th {
    font-weight:bold;
    color: aqua;
}
.viewbtns{
    font-size: 1.2rem;
    padding: 4px 10px;
    text-align: center;
    margin: auto;
    width: 40%;
    max-width: 290px;
    font-family: inherit;
    border-radius: 5px;
    border: 2px solid red;
}
#viewbuttons{
    display: flex;
    padding: 15px;
}




/*CUSTOM SCROLLBAR*/

/*Widht of scrollbar*/
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}