body{
    background-image: linear-gradient(to right, #544a7d, #ffd452);
}
th, td, p, h3 {
    font:15px 'Segoe UI';
    color: white;
}
table, th, td {
    border: solid 1px black;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
    color: white;
}
th {
    font-weight:bold;
    color: aqua;
}
.hide{
    display: none;
}
.buttonbox{
    width: 100%;
    display: flex;
}
input{
    border-radius: 10px;
    border: purple 2px solid;
    font-size: 1.3rem;
    color: #84d2ff;
    padding: 8px 18px;
    width: 40%;
    background: black;
    margin: 29px auto;
    outline: none;
    font-weight: bold;
    max-width: 400px;
}
p{
    overflow: auto;
}
#imgcon{
    text-align: center;
}
#imgcon img{
    width:140px;
    margin-top: 20px;
    border: 2px red solid;
    border-radius: 500px;
    box-shadow: 4px 4px red;
}
.mainmsg{
    text-align: center;
    margin: 400px 0;
    font-size: 3.5rem;
    font-family: sans-serif;
    color: white;
}