#part1 {
    flex-direction: column;
}
#contain{
    margin: 8px;
}
.pt1items {
    width: auto;
    margin: 7px;
    padding: 7px;
}
.vid{
    margin: 7px;
    width: 75vw;
    max-width: 315px;
}
