.mcon{
    margin: 20px;
    padding: 20px;
    border: 2px solid white;
    background: black;
    border-radius: 10px;
    height: 82vh;
    box-sizing: border-box;
}
.notis{
    margin: 5px 50px;
    border-bottom: blue 2px solid;
    margin-top: 20px;
    position: relative;
    padding-bottom: 45px;
}
li{
    font-size: 2rem;
}
.date{
    position: absolute;
    bottom: 25px;
    right: 5px;
}
.time{
    position: absolute;
    bottom: 5px;
    right: 5px;
}